body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #CBC3E3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form div {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #b100cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #7600bc;
}
h1{
  margin-left: 10%;
  color: #ff0065;
}
.edit-button{
  width: 25%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 2%;
  background-color:#ff0065;
}
.delete-button{
  width: 25%;
  margin-bottom: 1%;
  background-color:#ff0065;
  
}
li{
  margin-left: 15%;
}